.container-fluid {
  text-align: center;
}

.navbar {
  padding: .1rem 1rem !important;
}

.navbar-text {
  display: inline-block;
  padding: .5rem;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #007bff;
  border-color: #4e555b;
}

#res {
  margin: 5px;
  background-color: rgb(171, 201, 240);
}

.btn-group{
  margin: 5px;
}

input{
  text-align: center; 
  max-width: 150px;
  margin: 10px;
}

.button {
  padding:5px;
  cursor:pointer;
  background:grey;
  color:white;
  width:25px;
  height:auto;
  text-align:center;
  display:inline-block;
 }
 
 .button:hover {
 background:black;
 }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 10px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}