<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Face detecion demo</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<style>
    #TakePhoto:hover {
        background: olive;
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
                    <a class="navbar-brand" href="#">Face detecion demo</a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                    </div>
                    <button type="button" class="btn btn-second btn-circle btn-lg" data-toggle="tooltip" data-placement="left"
                        aria-pressed="false" autocomplete="off" id="flip" value="flip" title="flip frame x-axis > y-axis > both > reset">
                        <i class="fas fa-video"></i></button>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        {% if is_async_mode %}
                        <label id="async" class="btn btn-danger">
                            <input type="radio" value="async" autocomplete="off">async mode</label>
                        <label id="sync" class="btn btn-dark">
                            <input type="radio" value="sync" autocomplete="off">sync mode</label>
                        {% else %}
                        <label id="async" class="btn btn-dark">
                            <input type="radio" value="async" autocomplete="off">async mode</label>
                        <label id="sync" class="btn btn-danger">
                            <input type="radio" value="sync" autocomplete="off">sync mode</label>
                        {% endif %}
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseSettings"
                        aria-expanded="false" aria-controls="collapseSettings">
                        show settings
                    </button>
                </nav>
            </div>
            -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <!--<label id="object_detection" class="btn btn-secondary active">
                        <input type="radio" value="object_detection" autocomplete="off">Object Detection
                    </label>-->
                    <label id="face_detection" class="btn btn-secondary active">
                        <input type="radio" value="face_detection" autocomplete="off">Face Detection
                    </label>
                </div>
                {% if is_object_detection %}
                <div class="btn-group btn-group-toggle" id="is_face_detection" data-toggle="buttons"
                    disabled="disabled">
                    <label id="age_gender_detection" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="age_gender_detection" autocomplete="off">Age/Gender
                    </label>
                    <label id="emotions_detection" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="emotions_detection" autocomplete="off">Emotions
                    </label>
                    <label id="head_pose_detection" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="head_pose_detection" autocomplete="off">Head Pose
                    </label>
                    <label id="facial_landmarks_detection" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="facial_landmarks_detection" autocomplete="off">Facial Landmarks
                    </label>
                    <label id="facial_recognition" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="facial_recognition" autocomplete="off">Facial Recogition
                    </label>
                </div>
                {% else %}
                <div class="btn-group btn-group-toggle" id="is_face_detection" data-toggle="buttons">
                    <label id="age_gender_detection" class="btn btn-secondary btn-sm ">
                        <input type="checkbox" value="age_gender_detection" autocomplete="off">Age/Gender
                    </label>
                    <label id="emotions_detection" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="emotions_detection" autocomplete="off">Emotions
                    </label>
                    <label id="facial_recognition" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="facial_recognition" autocomplete="off">Facial Recogition
                    </label>
                    <!-- <label id="head_pose_detection" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="head_pose_detection" autocomplete="off">Head Pose
                    </label>
                    <label id="facial_landmarks_detection" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="facial_landmarks_detection" autocomplete="off">Facial Landmarks
                    </label> -->
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class=" col-lg-3">
                <div class="collapse" id="collapseSettings">
                    <div class="card card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-primary" active><b>Using devices</b></li>
                            <!-- <li class="list-group-item list-group-item-light"><b>MobileNet-SSD</b> {{ devices[0] }}
                            </li> -->
                            <li class="list-group-item list-group-item-light"><b>Face detection</b> {{ devices[1] }}
                            </li>
                            <li class="list-group-item list-group-item-light"><b>Age/Gender</b> {{ devices[2] }} </li>
                            <li class="list-group-item list-group-item-light"><b>Emotions</b> {{ devices[3] }} </li>
                            <li class="list-group-item list-group-item-light"><b>Head pose</b> {{ devices[4] }} </li>
                            <li class="list-group-item list-group-item-light"><b>Landmarks</b> {{ devices[5] }} </li>
                            <li class="list-group-item list-group-item-light"><b>Face recognition</b> {{ devices[6] }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class=" col-lg-6">
                <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="{{ url_for('video_feed') }}"
                    alt="loading....">
            </div>
            <div class=" col-lg-3">
                <div class="collapse" id="collapseSettings">
                    <div class="card card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-primary" active><b>Using models</b></li>
                            <!-- <li class="list-group-item list-group-item-light"><b>MobileNet-SSD</b> {{ models[0] }}</li> -->
                            <li class="list-group-item list-group-item-light"><b>Face detection</b> {{ models[1] }}</li>
                            <li class="list-group-item list-group-item-light"><b>Age/Gender</b> {{ models[2] }}</li>
                            <li class="list-group-item list-group-item-light"><b>Emotions</b> {{ models[3] }}</li>
                            <li class="list-group-item list-group-item-light"><b>Head pose</b> {{ models[4] }}</li>
                            <li class="list-group-item list-group-item-light"><b>Landmarks</b> {{ models[5] }}</li>
                            <li class="list-group-item list-group-item-light"><b>Face recognition</b> {{ models[6] }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse"
                    data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
                    Show Setting
                </button>
                <div class="btn-group btn-group-toggle" data-toggle="button">
                    <label id="takePhoto" class="btn btn-secondary btn-sm">
                        <input type="checkbox" value="take_photo" autocomplete="off">Take Photo
                    </label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div id="add_face_div" class=" col-lg-6" style="display:none">
                <!-- <img id="face_img" class="img-fluid img-thumbnail rounded mx-auto d-block"
                    src="data:image/png;base64,{{face_img_data}}" alt="loading..."><br> -->
                <img id="face_img" class="img-fluid img-thumbnail rounded mx-auto d-block" src="{{face_img}}" alt="loading...">
                <label style="border-bottom: 0px; border-top:3px">Name: <input type="text" id="face_name" value="" placeholder="input your name"
                        style="width:100%;" autocomplete="off"></label><br>
                <!-- <button id="add_face_submit" type="submit" class="btn btn-success btn-sm" >Submit</button> -->
                <div class="btn-group btn-group-toggle" data-toggle="button">
                    <label id="add_face_submit" class="btn btn-success btn-sm" style="border-top:0px">
                        <input type="checkbox" value="add_face_submit" autocomplete="off">Submit
                    </label>
                </div>
            </div>
        </div>
        <div class=" col-lg-6 flashes">
            {% for message in get_flashed_messages() %}
            {{ message }}
            {% endfor %}
        </div>
    </div>

    <!-- <script src="../static/js/popper.js"></script> -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/detectors.js"></script>
    <script src="../static/js/all.min.js"></script>

    <!-- <script>
        $("#TakePhoto").click((e) => {
            e.stopPropagation();
            console.log($(this).attr("id"))
            $(this).attr("id") ? $(this).attr("id", false) : $(this).attr("id", true);
            $(this).attr("id") ? $("#btn").css('background', 'red') : $("#btn").css('background', '#ccc');

        })
    </script> -->
</body>