<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pop the window</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class=" col-lg-6">
                <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="{{ url_for('video_feed') }}"
                    alt="loading....">
            </div>
        </div>

        <div class=" col-lg-3">
            <div class="collapse" id="collapseSettings">
                <div class="card card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item list-group-item-primary" active><b>Using models</b></li>
                        <li class="list-group-item list-group-item-light"><b>MobileNet-SSD</b> {{ models[0] }}</li>
                        <li class="list-group-item list-group-item-light"><b>Face detection</b> {{ models[1] }}</li>
                        <li class="list-group-item list-group-item-light"><b>Age/Gender</b> {{ models[2] }}</li>
                        <li class="list-group-item list-group-item-light"><b>Emotions</b> {{ models[3] }}</li>
                        <li class="list-group-item list-group-item-light"><b>Head pose</b> {{ models[4] }}</li>
                        <li class="list-group-item list-group-item-light"><b>Landmarks</b> {{ models[5] }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="collapse"
                    data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
                    Show Setting
                </button>
                <div class="btn-group btn-group-toggle" data-toggle="button">
                    <label id="takePhoto" class="btn btn-secondary btn-sm">
                        <input type="radio" value="take_photo" autocomplete="off">Take Photo
                    </label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class=" col-lg-6">
                <img id="bigpic" src="" style="display:none" alt="loading...">
            </div>
        </div>

    </div>
    </div>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/detectors.js"></script>
    <script src="../static/js/all.min.js"></script>
</body>

</html>